
# dependencies
**/node_modules
node_modules

# misc
npm-debug.log*
packages/**/reports
lerna-debug.log
artifacts

#dist
dist
**/dist

#svelte
.DS_Store
/.svelte-kit
/package
/public/build

#demo
/demo/node_modules/
demo/public/build/